params {
    // Input
    sample = "data/*.sra"
    reads = "reads/*_{1,2}.fastq.gz"
    fastqc_result = "results/Fastqc/Before"
    trimmed_reads = "reads/trimmed"
    trimmed_fastqc_result = "results/Fastqc/After"
    reference_genome = "Ref/Human/Reference_genome.fa"
    index_dir =  "Ref/Human/index"
    alignment_dir = "results/"
    known_sites = "Ref/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    known_sites_index = "Ref/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
}

// Resource profiles
profiles {
    standard {
        process.cpus   = 4
        process.memory = '4 GB'
    }
}
